<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="karstenroethig.pokerstats.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="karstenroethig.pokerstats.Perspective"
            icon="icons/poker-icon-16.png"
            id="karstenroethig.pokerstats.perspective"
            name="Pokerstats Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="karstenroethig.pokerstats.application"
            name="Pokerstats">
         <property
               name="appName"
               value="Pokerstats">
         </property>
         <property
               name="startupProgressRect"
               value="0,325,480,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="CBC412">
         </property>
         <property
               name="startupMessageRect"
               value="7,300,464,20">
         </property>
         <property
               name="windowImages"
               value="icons/poker-icon-16.png,icons/poker-icon-32.png">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="aboutText"
               value="Pokerstats 0.2.1&#x0A;&#x0A;Copyright © Karsten Röthig, 2011">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Datei">
            <menu
                  label="Neu">
               <command
                     commandId="karstenroethig.pokerstats.command.NewTournamentCommand"
                     icon="icons/playingcards-16.png"
                     label="Turnier"
                     style="push">
               </command>
               <command
                     commandId="karstenroethig.pokerstats.command.NewParticipationCommand"
                     icon="icons/playingcard-16.png"
                     label="Teilnahme"
                     style="push">
               </command>
            </menu>
            <separator
                  name="karstenroethig.pokerstats.menu.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Speichern">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Alle speichern">
            </command>
            <separator
                  name="karstenroethig.pokerstats.menu.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="karstenroethig.pokerstats.command.OpenStatsEditorCommand"
                  icon="icons/chart-16.png"
                  label="Statistiken anzeigen"
                  style="push">
            </command>
            <separator
                  name="karstenroethig.pokerstats.menu.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Beenden">
            </command>
         </menu>
         <menu
               label="Fenster">
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  label="Perspektive zurücksetzen"
                  style="push">
            </command>
         </menu>
         <menu
               label="Hilfe">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="Über Pokerstats">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="karstenroethig.pokerstats.toolbar">
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Speichern"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Alle speichern"
                  style="push">
            </command>
            <separator
                  name="karstenroethig.pokerstats.toolbar.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="karstenroethig.pokerstats.command.OpenStatsEditorCommand"
                  icon="icons/chart-16.png"
                  label="Statistiken anzeigen"
                  style="push"
                  tooltip="Statistiken anzeigen">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="karstenroethig.pokerstats.view.TournamentOverviewView"
            icon="icons/playingcards-16.png"
            id="karstenroethig.pokerstats.view.TournamentOverviewView"
            name="Verfügbare Turniere"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="karstenroethig.pokerstats.view.ParticipationOverviewView"
            icon="icons/playingcard-16.png"
            id="karstenroethig.pokerstats.view.ParticipationOverviewView"
            name="Gespielte Turniere"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="karstenroethig.pokerstats.handler.NewTournamentHandler"
            id="karstenroethig.pokerstats.command.NewTournamentCommand"
            name="Neues Turnier">
      </command>
      <command
            defaultHandler="karstenroethig.pokerstats.handler.NewParticipationHandler"
            id="karstenroethig.pokerstats.command.NewParticipationCommand"
            name="Neue Teilnahme">
      </command>
      <command
            defaultHandler="karstenroethig.pokerstats.handler.OpenStatsEditorHandler"
            id="karstenroethig.pokerstats.command.OpenStatsEditorCommand"
            name="Statistiken anzeigen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="karstenroethig.pokerstats.editor.TournamentEditor"
            default="false"
            icon="icons/playingcards-16.png"
            id="karstenroethig.pokerstats.editor.TournamentEditor"
            name="Turnier-Editor">
      </editor>
      <editor
            class="karstenroethig.pokerstats.editor.ParticipationEditor"
            default="false"
            icon="icons/playingcard-16.png"
            id="karstenroethig.pokerstats.editor.ParticipationEditor"
            name="Teilnahme-Editor">
      </editor>
      <editor
            class="karstenroethig.pokerstats.editor.StatsEditor"
            default="false"
            icon="icons/chart-16.png"
            id="karstenroethig.pokerstats.editor.StatsEditor"
            name="Statistiken">
      </editor>
   </extension>

</plugin>
